@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

:root {
  --windowPadding: 1rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kalam", cursive;
}

p {
  line-height: 1.6;
  padding: var(--windowPadding);
}

.pokemon-item {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

header {
  display: flex;
  padding: var(--windowPadding);
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

header img {
  min-width: 250px;
}

header h1 {
  flex-grow: 1;
  font-size: 2.5rem;
  text-align: center;
}

.pokemon-list {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--windowPadding);
  list-style: none;
}

.pokemon-list li {
  margin: auto;
  text-align: center;
}

.button {
  margin: 0 auto 0.3rem;
  padding: 1rem;
  min-width: 20ch;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #d1ffdf;
}

@media all and (max-width: 555px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0 0;
  }

  .pokemon-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 0.3rem;
  }

  .button {
    font-size: 1rem;
  }
}

@media all and (min-width: 556px) and (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0 0;
  }

  .pokemon-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 0.3rem;
  }

  .button {
    font-size: 1.5rem;
  }
}
